[Desktop Entry]
Name=Year Progress Extended
Icon=view-calendar
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Stepan Zubkov
X-KDE-PluginInfo-Email=zubkovbackend@gmail.com
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=com.github.stepanzubkov.year-progress-extended

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

Name[fr]=Year Progress Extended
Name[ru]=Расширенный виджет годового прогресса
